### Analyse structural coefficients of large networks

In [12]:
from lib import *
import pandas as pd
import seaborn as sns

In [9]:
df = pd.read_csv(DATA_DIR_PATH / "structural_measures_large_online.csv")

In [10]:
df.columns

Index(['_', 'idx', 'dataset', 'name', 'n_nodes', 'frac_total', 'density',
       'dbar', 'dcv', 'dmax', 'null_10_sim_g', 'null_10_sim', 'null_10_sim_e',
       'null_10_comp_g', 'null_10_comp', 'null_10_comp_e', 'data_sim_g',
       'data_sim', 'data_sim_e', 'data_comp_g', 'data_comp', 'data_comp_e'],
      dtype='object')

In [11]:
df[_]

,_,idx,dataset,name,n_nodes,frac_total,density,dbar,dcv,dmax,...,null_10_sim_e,null_10_comp_g,null_10_comp,null_10_comp_e,data_sim_g,data_sim,data_sim_e,data_comp_g,data_comp,data_comp_e
0,0,1,NaN,NYC_restaurant_tips,5372,0.838066,0.000614,3.295607,1.569503,196,...,0.003296,0.004668,0.001366,0.002549,0.000000,0.000000,0.000000,0.014416,0.003092,0.006515
1,0,1,NaN,NYC_restaurant_checkin,4906,0.993922,0.001118,5.485936,1.044863,88,...,0.003480,0.004561,0.002033,0.003211,0.000000,0.000000,0.000000,0.011630,0.005808,0.008769
2,0,1,NaN,gplus_112573107772208475213,3794,0.998684,0.008368,31.738535,1.780662,548,...,0.085803,0.051862,0.020800,0.044003,0.174692,0.083500,0.169532,0.060478,0.023330,0.050768
3,0,1,NaN,gplus_115455024457484679647,3464,0.992550,0.018095,62.663395,1.815547,919,...,0.182821,0.049132,0.022735,0.047572,0.284835,0.112724,0.259228,0.039766,0.023916,0.045025
4,0,1,NaN,facebook_combined,4039,1.000000,0.010820,43.691013,1.199654,1045,...,0.044221,0.038205,0.020754,0.032344,0.519174,0.312620,0.513878,0.019899,0.014564,0.022281
5,0,1,NaN,M2,3862,1.000000,0.011713,45.222165,0.654056,328,...,0.020382,0.021857,0.016437,0.018802,0.225311,0.219436,0.232565,0.020923,0.017592,0.019454
6,0,1,NaN,L2,5524,1.000000,0.006176,34.112238,0.932536,417,...,0.016706,0.018934,0.011425,0.015094,0.222391,0.207345,0.236465,0.023781,0.017187,0.021375
7,0,1,NaN,L1,5793,1.000000,0.001833,10.617297,1.731980,320,...,0.020389,0.023445,0.007287,0.017605,0.264582,0.085124,0.244411,0.038836,0.017305,0.034153