### Compare the four groups (large online, small online, large offline, small offline)

In [4]:
from lib import *

In [9]:
large_online = pd.read_csv(RESULT_DIR_PATH / "structural_measures_large_online.csv")
small_online = pd.read_csv(RESULT_DIR_PATH / "result_small_online.csv")

In [10]:
large_online["type"] = "large_online"
small_online["type"] = "small_online"

In [12]:
large_online.head(3)

,_,idx,dataset,name,n_nodes,frac_total,density,dbar,dcv,dmax,...,null_10_comp_g,null_10_comp,null_10_comp_e,data_sim_g,data_sim,data_sim_e,data_comp_g,data_comp,data_comp_e,type
0,0,1,NaN,NYC_restaurant_tips,5372,0.838066,0.000614,3.295607,1.569503,196,...,0.004624,0.001359,0.002543,0.000000,0.000000,0.00000,0.014416,0.003092,0.006515,large_online
1,0,1,NaN,NYC_restaurant_checkin,4906,0.993922,0.001118,5.485936,1.044863,88,...,0.004544,0.002013,0.003177,0.000000,0.000000,0.00000,0.011630,0.005808,0.008769,large_online
2,0,1,NaN,douban,154908,1.000000,0.000027,4.223952,2.781348,287,...,0.002043,0.000267,0.001270,0.010373,0.001901,0.00775,0.006644,0.000755,0.003354,large_online

In [13]:
small_online.head(3)

,Unnamed: 0,_,idx,dataset,name,n_nodes,frac_total,density,dbar,dcv,...,null_100_comp_g,null_100_comp,null_100_comp_e,data_sim_g,data_sim,data_sim_e,data_comp_g,data_comp,data_comp_e,type
0,0,0,1,NaN,S2,165,1.00000,0.053659,8.800000,0.946063,...,0.072985,0.051306,0.068495,0.329760,0.258733,0.340403,0.030320,0.019471,0.027094,small_online
1,1,0,1,NaN,S1,320,1.00000,0.046415,14.806250,0.963127,...,0.067970,0.047345,0.062566,0.287705,0.255111,0.297862,0.032432,0.022242,0.030423,small_online
2,2,0,1,NaN,facebook_friends,329,0.90884,0.036215,11.878419,0.921316,...,0.071421,0.045012,0.063086,0.512061,0.379950,0.511406,0.015330,0.014990,0.016834,small_online